*, body {
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 0px;
  padding: 0px;
}
.navbar {
  z-index: 9999;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

//Give left and right space to the navbar.
.form-inline {
  margin-left: 3%;
}
.d-flex {
  margin-right: 3%;
}

/**
For placing element in center of page.
 */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/**
---------------------------------------------
 */

//Enlarge "Start Tour!" button.
.startTourBtn {
  padding: 1.5rem;
}

#tsparticles {
  z-index: 0;
}

//Make sure footer is in front of tsparticles.
.footer {
  position: relative;
  z-index: 1000;
  text-align: center;
}

.whiteText {
  color: white;
}